@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url("assets/images/background.jpg");
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
body{
    background-color: black;
}

nav{
    display: flex;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    justify-content: space-between;
    height: 60px;
}

#logo {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.mtext {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 15px;
    padding: 0 30px;
}

.mtext> :first-child {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.mtext> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.mtext> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.line{
    height: 10px;
    background-color:rgb(35, 35, 35);
}
.btn{
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    padding: 2px 30px;
    border-radius: 8px;
    font-size: 0.875rem;
    background: rgba(28, 27, 27, 0.6);
    color: white;
    border: 1px solid rgba(253, 253, 253, 0.6);
    border-radius: 4px;
    cursor: pointer;
}
.btn-red-si{
    color: white;
    background-color: rgb(229,9,20);
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
}
.btn-red-gs{
    color: white;
    background-color: rgb(229,9,20);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    border:none;
}
.main input{
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.75rem 5rem 0.75rem 1rem;
    min-height: 16px;
    min-width: 16px;
    border-radius: 4px;
    background: rgba(28, 27, 27, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: 300;
}
.mtext-ip{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.eng-si{
    display: flex;
    gap:15px
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    justify-content: center;
    align-items: center;
}
.fs-img{
    position: relative;
}
.fs-img img{
    width: 36vw;
    position: relative;
    z-index: 10;
}
.fs-img video{
    position: absolute;
    top: 87px;
    right: 0;
}